body{
    font-family: 'Oxygen', sans-serif;

}
h1{
    font:50px ;
    
    
}
.new{
    color:orange;
}

.half-width{
    width:40%;
    float: left;
    margin-left: 5px;
    padding-left: 2;
}
.half-width img{
    width: 100%;
}